<template>
  <a :href="href" :target="target" class="button" :class="'button--' + color">
    <span>{{ text }}</span>
  </a>
</template>

<script>
  export default {
    props: {
      color: { type: String, default: 'white' },
      href: { type: String, default: '#' },
      text: { type: String, default: 'Button text' },
      target: { type: String, default: undefined }
    }
  }
</script>

<style lang="scss" scoped>
  /*
  ** Buttons
  */
  .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    height: 40px;
    text-decoration: none;
    border-radius: 50vh;
    transition-duration: 100ms;
    transition-property: background-color, color;

    span {
      line-height: 100%;
    }

    @media (min-width: 992px) {
      padding: 0 24px;
      height: 48px;
    }
    @media (min-width: 1200px) {
      padding: 0 32px;
      height: 64px;
    }

    // Green color variant
    &--green {
      border: 1px solid #3b8070;
      color: #3b8070;
      background-color: #fff;

      // Hover
      &:hover {
        color: #fff;
        background-color: #3b8070;
      }
    }

    // Grey color variant
    &--grey {
      border: none;
      color: #35495e;
      margin-left: 15px;
      background-color: #fff;

      // Hover
      &:hover {
        color: #fff;
        background-color: #35495e;
      }
    }

    // White color variant
    &--white {
      background-color: #fff;
      color: #6760d2;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;

      &:hover {
        background-color: #7ff1c0;
        color: #333;
      }
    }
  }
</style>