<template>
  <div class="events_list">
    <event-card v-for="event in events" :key="event._id" :event="event" />
  </div>
</template>
<script>
import EventCard from "~/components/EventCard";
export default {
  components: {
    EventCard
  },
  data() {
    return {
      events: []
    };
  },
  mounted() {
    for (var x = 0; x < 3; x++) {
      this.events.push({
        _id: x,
        thumbImage: "https://images.unsplash.com/photo-1485182708500-e8f1f318ba72?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1385&q=80",
        date: "01 avril 2020",
        title: "Happy Drink",
        address: "Les 3 Brasseurs 1, Place de France 34000 Montpellier"
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.events_list {
  display:flex;
  margin-bottom:50px;
  flex-wrap: wrap;
  justify-content: center;
 @media (min-width: 480px) {
    justify-content: space-between;
  }
}
.events_list > div{
    margin-bottom:30px;

}
</style>