<template>
  <div class="event">
    <div class="thumb" :style="thumbStyle" >
    </div>
    <div class="body">
      <div class="date">01 avril 2020</div>
      <div class="title">Happy Drink</div>
      <div class="address">Les 3 Brasseurs 1, Place de France 34000 Montpellier</div>
    </div>
  </div>
</template>
<script>
export default {
    props:["event"],
    computed:{
        thumbStyle(){
            return `
                background:url(${this.event.thumbImage})
                background-position: center;
                background-size:cover;
            `;
        }
    }
}
</script>
<style lang="scss" scoped>
.event {
  max-width: 200px;
  background-color: white;
  min-height: 300px;
  @media (min-width: 992px) {
    max-width: 200px;
  }
  display: grid;
  grid-template-rows: 40% 60%;
}
.body{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.thumb {
  max-width: 100%;
  max-height: 100%;
  
}
.date {
  font-size: 12px;
}
.date,
.title,
.address {
  color: #2d3a67;
  padding: 0px 20px;
  font-weight: bold;
}
.address {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
}
</style>