<template>
  <div class="left_sidebar">
    <nuxt-link :to="{name:'index'}">
      <img class="link_icon" src="~assets/icons/home.png" width="37" height="37" />
    </nuxt-link>

    <div class="links">
      <a class="link" href="https://happy-dev.fr/" target="_blank">J'ai un projet !</a>
      <a class="link" href="https://happy-dev.fr/" target="_blank">Nous rejoindre</a>
    </div>

    <div class="social_links">
      <a class href="https://happy-dev.fr/" target="_blank">
        <img src="~assets/icons/fb.png" alt="Facebook" width="37" height="37">
      </a>
      <a class href="https://happy-dev.fr/" target="_blank">
        <img src="~assets/icons/ig.png" alt="Instagram" width="37" height="37">
      </a>
      <a class href="https://happy-dev.fr/" target="_blank">
        <img src="~assets/icons/tw.png" alt="Twitter" width="37" height="37">
      </a>
      <a class href="https://happy-dev.fr/" target="_blank">
        <img src="~assets/icons/in.png" alt="LinkedIn" width="37" height="37">
      </a>
    </div>
  </div>
</template>

<script>
  export default {

  }
</script>

<style lang="scss" scoped>
  // Sidebar
  .left_sidebar {
    position: relative;
    z-index: 100;
    display: none;
    max-width: 100px;
    min-width: 100px;
    background-color: white;
    max-height: 100vh;
    position: relative;

    @media (min-width: 992px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }

  // Links
  .links {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    @media (min-height: 720px) {
      justify-content: center;
    }

    // Link
    .link {
      position: relative;
      display: block;
      margin: 52px 0;
      transform: rotate(-90deg);
      transform-origin: 50% 50%;
      color: #6760d2;
      padding: 0;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
      text-transform: uppercase;
      white-space: nowrap;
      line-height: 100px;
      text-align: center;

      @media (min-height: 720px) {
        font-size: 20px;
        margin-top: 64px;
      }
      @media (min-height: 1024px) {
        font-size: 25px;
        margin-top: 110px;
      }
    }
  }
  .link_icon {
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  // Social links
  .social_links {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 24px;
  }
  .social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 37px;
    margin: 5px 0;

    @media (min-height: 668px) {
      width: 37px;
      height: 37px;
    }

    // Image
    img {
      display: block;
    }
  }
</style>