<template>
  <nav class="navbar" :class="'navbar--' + brightness">
    <div class="logo" v-if="logo">
      <nuxt-link :to="{name: 'index'}">
        <img src="~/assets/logo.png" alt="HappyDev Montpellier">
      </nuxt-link>
    </div>

    <nav class="navbar_links">
      <ul>
        <li>
          <nuxt-link :to="{name: 'about'}">Qui sommes-nous?</nuxt-link>
        </li>
        <li>
          <nuxt-link :to="{name: 'team'}">La team</nuxt-link>
        </li>
        <li >
          <nuxt-link :to="{name: 'events'}">Nos évènements</nuxt-link>
        </li>
        <li >
          <nuxt-link :to="{name: 'contact'}">Contactez-nous</nuxt-link>
        </li>
        <li v-if="false">
          <a href="mailto:smile@montpellier.happy-dev.fr">Contactez-nous</a>
        </li>
      </ul>
    </nav>
  </nav>
</template>

<script>
  export default {
    props: {
      logo: { type: Boolean, default: true },
      brightness: { type: String, default: 'light' }
    }
  }
</script>

<style lang="scss" scoped>
  // Navbar
  .navbar {
    position: absolute;
    top: 15px;
    z-index: 90;
    
    width: 100%;
    height: 50px;

    @media (min-width: 992px) {
      display: flex;
    justify-content: space-between;
      width: calc(100vw - 100px);
    }

    // Logo
    .logo {
      margin: 0;

      img {
        display: block;
        max-width: 200px;
        margin: 0 auto;
        @media (min-width: 992px) {
          margin:initial;
        }
      }
      @media (min-width: 992px) {
        margin: 0 0 0 16px;
      }
    }


    /*
    ** Menu
    */
    &_links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      margin-left: auto;

      @media (min-width: 992px) {
        margin-top: 0;
        margin-right: 20px;
        flex-direction: initial;
        justify-content: flex-end;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li{
          padding:10px;
        }
        @media (min-width: 992px) {
          display: flex;
        }
      }

      li {
        display: block;
        margin: 0 12px;

        @media (min-width: 992px) {
          margin: 0 16px;
        }
        @media (min-width: 1200px) {
          margin: 0 28px;
        }
      }

      a {
        color: #fff;
        text-decoration: none;
        font-size: 14px;

        @media (min-width: 992px) {
          font-size: 18px;
        }

        // Hover
        &:hover{
          color: #ffffffc4;
        }
      }
    }


    /*
    ** Variants
    */
    &--dark {
      li a {
        color: #2d3a67;

        &:hover {
          color: darken(#2d3a67, 30);
        }
      }
    }
  }
</style>