<template>
  <div class="photo">
    <div class="img">
      <slot />
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      caption: [String, '']
    }
  }
</script>

<style lang="scss" scoped>
  .img {
    width: 100%;
    height: 100%;

    @media (min-width: 992px) {
      min-height: calc(100vh - 200px);
    }

    img {
      object-fit: cover;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
</style>