<template>
  <div class="title" :class="'title--' + color">
    <h2 class="title__text">
      <span>{{ title }}</span>
    </h2>
  </div>
</template>

<script>
  export default {
    props: {
      title: { type: String, default: '' },
      color: { type: String, default: 'yellow' }
    }
  }
</script>

<style lang="scss" scoped>
  /*
  ** Title box
  */
  .title {
    position: relative;
    z-index: 10;
    background-color: #ffde70;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12vw;
    max-height: 148px;
    min-height: 96px;

    @media (min-width: 992px) {
      height: 10vw;
    }

    // Text
    &__text {
      position: relative;
      text-align: center;
      z-index: 2;
      color: #fff;
      font-size: 32px;
      font-weight: bold;
      text-shadow: 1px 3px 6px rgba(#000, 0.15);

      @media (min-width: 992px) {
        font-size: 40px;
        margin-top: -10px;
      }
      @media (min-width: 1200px) {
        font-size: 60px;
      }

      // Bar
      &:after {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        bottom: 4px;
        right: 0%;
        background-color: #485c9f;

        @media (min-width: 992px) {
          width: 92%;
          height: 15px;
          // width: 80%;
          // margin: 0 auto;
        }
      }
    }


    /*
    ** Variants
    */
    &--white {
      background-color: #fff;

      .title__text {
        color: #6760d2;

        &:after {
          background-color: #ffde70;
        }
      }
    }
    &--dark {
      background-color: #6760D2;

      .title__text {
        color: #FFF;

        &:after {
          background-color: #ffde70;
        }
      }
    }
  }
</style>