<template>
  <fragment>
    <Navbar  />

    <div class="events content_layout">
      <div class="text">
            <p v-html="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, alique eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, alique</p>
          </div>
      <div>
        <TitleBox title="Nos évènements" color="yellow" />

        <div class="content">
          <EventsList/>
        </div>
      </div>
    
    </div>
  </fragment>
</template>

<script>
  import Navbar from '~/components/Navbar'
  import EventsList from '~/components/EventsList'
  import TitleBox from '~/components/TitleBox'
  import Photo from '~/components/Photo'
  import ButtonLink from '~/components/ButtonLink'
  import axios from "axios";

  export default {
    head () {
      return {
        title: 'Events'
      }
    },
    asyncData({ req, res }) {
    let host = process.server
      ? req.protocol + "://" + req.headers.host
      : window.location.origin;
    return axios.get(host + "/api/events").then(response => {
      return response.data;
    });
  },
    components: {
      Navbar,
      TitleBox,
      Photo,
      ButtonLink,
      EventsList
    }
    
  }
</script>

<style lang="scss" scoped>
   .events {
    height: 100%;
    background: linear-gradient(rgba(72, 92, 159, 0.9), rgba(72, 92, 159, 0.9)), url(~assets/curves.svg);
    background-size: contain;
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: 992px) {
      width: calc(100vw - 100px);
      grid-template-columns: 50% 1fr;
    }
  }

   // Title
  .title {
    @media (min-width: 992px) {
      margin-left: -110px;
    }
  }

  // Content
  .content {
    padding: 64px;
  }

  // Photo
  .photo {
    margin-top: 40px;
    height: calc(100% - 40px);
  }

  // Text
  .text {
    margin: 20px 0 50px;
    color: #fff;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.4;
    padding: 6vw;
    @media (min-width: 992px) {
      font-size: 20px;
      align-items: center;
      display: flex;
    }
  }

  

  // Button
  .button {

  }
</style>