<template>
  <DefaultLayout>
    <template v-slot:navbar>
      <Navbar :logo="true" />
    </template>
  </DefaultLayout>
</template>

<script>
  import DefaultLayout from '~/layouts/DefaultLayout'
  import Navbar from '~/components/Navbar'

  export default {
    components: {
      DefaultLayout,
      Navbar
    }
  }
</script>