<template>
  <div class="default_layout">
    <LeftSidebar />

    <div class="vertical_layout">
      <Nuxt />
    </div>
  </div>
</template>

<script>
  import Navbar from '~/components/Navbar'
  import LeftSidebar from '~/components/LeftSidebar'

  export default {
    components: {
      Navbar,
      LeftSidebar
    }
  }
</script>

<style lang="scss">
  html {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
  }

  // Reset
  *, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
  }

  .default_layout {
    display: flex;

  }
  .content_layout {
    width: 100%;
    min-height: 100vh;
    padding-top: 200px;

    @media (min-width: 992px) {
      padding-top: 120px;
    }
  }

  .vertical_layout {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
  }
</style>