<template>
  <fragment>
    <Navbar brightness="dark" />

    <div class="about content_layout">
      <Photo>
        <img src="~/assets/about.jpg" alt="À propos" />
      </Photo>

      <div>
        <TitleBox title="Une question? C'est par ici!" color="dark" />

        <div class="content">
          <div class="subtitle">JE SUIS FREELANCE?</div>
          <div class="text">
            <div v-html="text">
              <p>Happy Dev est une coopérative qui fédère des collectifs d’indépendant⋅e⋅s partout en France. C'est un nouveau modèle économique qui vise une meilleure efficacité, une agilité accrue et un impact positif sur le monde.</p>
              <br />
              <p>Ses membres pilotent directement chaque collectif grâce à une gouvernance numérique et décentralisée. Nous sommes la cellule de Montpellier.</p>
              <br />
              <br />
            </div>
            <a
              class="link"
              :href="`mailto:${email||'smile@montpellier.happy-dev.fr'}`"
              v-html="email"
            >smile@montpellier.happy-dev.fr</a>
          </div>
        </div>
      </div>
    </div>
  </fragment>
</template>

<script>
import Navbar from "~/components/Navbar";
import TitleBox from "~/components/TitleBox";
import Photo from "~/components/Photo";
import ButtonLink from "~/components/ButtonLink";
import axios from "axios";

export default {
  head() {
    return {
      title: "Contact"
    };
  },
  asyncData({ req, res }) {
    let host = process.server
      ? req.protocol + "://" + req.headers.host
      : window.location.origin;
    return axios.get(host + "/api/contact").then(response => {
      return response.data;
    });
  },
  components: {
    Navbar,
    TitleBox,
    Photo,
    ButtonLink
  }
};
</script>

<style lang="scss" scoped>
// About
.about {
  height: 100%;
  background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url(~assets/curves.svg);
  background-size: contain;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: 992px) {
    width: calc(100vw - 100px);
    grid-template-columns: 50% 1fr;
  }
}

// Content
.content {
  padding: 34px;
}

// Title
.title {
  @media (min-width: 992px) {
    margin-left: -250px;
  }
}

.subtitle {
  color: #6760d2;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

// Photo
.photo {
  margin-top: 40px;
  height: calc(100% - 40px);
}

// Text
.text {
  margin: 20px 0 50px;
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.4;
  background-color: #2d3a67;
  padding: 50px;
  @media (min-width: 992px) {
    margin-bottom: 100px;
    font-size: 20px;
    padding-right: 6vw;
  }
}
.link {
  color: #ffde70;
}
</style>