<template>
  <fragment>
    <Navbar :logo="false" brightness="light" />

    <div class="container home">
      <div class="center">
        <img class="logo" src="~/assets/logo.png" alt="HappyDev Montpellier" />

        <div class="text">
          <h3 class="quote" v-html="title">Collectif d'indépendants du numérique</h3>
          <h2 class="seoKeywords" v-html="tags">
            #SiteWeb #Internet #Extranet #Ecommerce #Application #RéférencementSEO #IdentitéVisuelle
            <br />#Graphisme #Logo #Maintenance #CommunityManagement #GestiondeProjet #RédactionWeb
            <br />#Photographie
          </h2>
        </div>

        <ButtonLink :text="computedButtonText" href="/" />
      </div>
    </div>
  </fragment>
</template>

<script>
import Navbar from "~/components/Navbar";
import ButtonLink from "~/components/ButtonLink";
import axios from "axios";

export default {
  components: {
    Navbar,
    ButtonLink
  },
  head() {
    return {
      title: "Accueil"
    };
  },
  asyncData({ req, res }) {
    let host = process.server
      ? req.protocol + "://" + req.headers.host
      : window.location.origin;
    return axios.get(host + "/api/home").then(response => {
      return response.data;
    });
  },
  computed:{
    computedButtonText(){
      return `${this.buttonText||"J'ai un projet !"}`
    }
  }
};
</script>

<style lang="scss" scoped>
  // Homepage
  .home {
    background:
      // Tint
      linear-gradient(
        rgba(0, 0, 0, 0.45),
        rgba(0, 0, 0, 0.45)
      ),
      // Image
      url(~assets/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  // Container
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
  }

  // Text
  .title {
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #ffde70;
    font-size: 100px;
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
  }
  .subtitle {
    position: absolute;
    right: -10px;
    bottom: 30px;
    transform: rotateZ(-18deg);
    padding: 0;
    color: #fff;
    font-family: "Permanent Marker", cursive;
    font-size: 50px;
    font-weight: 300;
  }
  .logo {
    display: block;
    max-width: 100%;
    max-height: 150px;
    margin: 0 auto 48px;
  }

  // Text
  .text {
    margin-bottom: 72px;
  }
  .quote {
    margin-bottom: 48px;
    color: #fff;
    font-size: 50px;
    font-weight: 900;
  }
  .seoKeywords {
    margin-top: 10px;
    color: #fff;
    font-size: 22px;
    font-weight: normal;
    line-height: 1.35;
  }

  .email {
    display: block;
    margin-top: 30px;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
  }

  .button__project {
    max-width: 250px;
    margin: 50px auto 0;
  }
</style>