<template>
  <fragment>
    <Navbar brightness="dark" />

    <div class="team content_layout">
      <div>
        <TitleBox title="La team" color="white" />

        <div class="content">
          <div class="text">
            <p v-html="text"></p>
          </div>

          <ButtonLink text="Découvrir la team" href="/team" />
        </div>
      </div>

      <Photo>
        <img src="~/assets/team.jpg" alt="L'équipe" />
      </Photo>
    </div>
  </fragment>
</template>

<script>
import Navbar from "~/components/Navbar";
import TitleBox from "~/components/TitleBox";
import Photo from "~/components/Photo";
import ButtonLink from "~/components/ButtonLink";
import axios from "axios";
export default {
  head() {
    return {
      title: "Team"
    };
  },
  asyncData({ req, res }) {
      let host = process.server ? (req.protocol + "://" + req.headers.host) : window.location.origin;
      return axios.get(host + "/api/team").then(response=>{
        return response.data
      });
  },
  components: {
    Navbar,
    TitleBox,
    Photo,
    ButtonLink
  }
};
</script>

<style lang="scss" scoped>
.team {
  height: 100%;
  background: linear-gradient(rgba(#ffee70, 0.9), rgba(#ffee70, 0.9)),
    url(~assets/curves.svg);
  background-size: contain;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: 992px) {
    width: calc(100vw - 100px);
    grid-template-columns: 50% 1fr;
    grid-template-areas:
      "a b b"
      "a c d";
  }
}

// Content
.content {
  padding: 64px;
}

// Photo
.photo {
  margin-top: 40px;
  height: calc(100% - 40px);
}

// Title
.title {
  @media (min-width: 992px) {
    margin-right: -110px;
  }
}

// Text
.text {
  margin: 20px 0 50px;
  color: #2d3a67;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.4;

  @media (min-width: 992px) {
    margin-bottom: 40px;
    font-size: 20px;
    padding-right: 6vw;
  }
}

// Button
.button {
}
</style>